@import '../../style/variables';
@import '../../style/mixin';

.groupBody {
  margin-top: 15px;
  border: 1px solid $gray;
  .groupInfo {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 40px;
    background-color: $gray;

    .groupName {
      text-align: center;
      color: white;
    }

    .trainersMember {
      display: flex;
      li {
        @include makeItem($bg-gray);
      }
    }
  }

  .groupMembers {
    display: flex;

    .member {
      @include makeItem($light-gray);
    }
  }
}
