$bg-gray: #f7f7f7;
$light-gray: #eeeeee;
$gray: #929aab;
$dark-gray: #393e46;
$base-font-size: 14px;
$primary-color: #ea5455;

$padding-container-y: 30px;
$padding-container-x: 20px;

$padding-item-y: 10px;
$padding-item-x: 10px;
